html {
    box-sizing: border-box;
    background-color: #eee;
}

*, ::before, ::after {
    box-sizing: border-box;
}

.body {
    font-family: 'Lato', sans-serif;
    max-width: 800px;
    margin: 0 auto;
    background: #eee;

}

.container__form {
    margin: 4px 0;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.addNewTaskText {
    padding: 1px 15px;
    background-color: white;
}

.newTask {
    padding: 5px;
    font-size: 18px;
    width: 80%;
    margin-bottom: 6px;
}

.task {
    display: flex;
    flex-direction: row;
    justify-content: start;
    color: #333;
    padding: 5px;
    font-size: 18px;
    border-bottom: 5px solid #eee;
}

.task--done {
    text-decoration: line-through;
}


.buttonAddTask {
    background-color: #007382;
    color: #fff;
    padding: 8px;
    font-size: 18px;
    border: none;
}

@media (max-width: 767px) {
    .buttonAddTask {
        flex-basis: 100%;
    }
    .newTask {
        flex-basis: 100%;
    }
}

.buttonDone {
    font-size: 18px;
    background-color: #00741d;
    color: white;
    width: 30px;
    height: 30px;
    border: none;
}


.buttonRemove {
    font-size: 18px;
    color: white;
    background-color: rgb(255, 28, 47);
    width: 30px;
    height: 30px;
    align-self: flex-end;
    border: none;
}

.taskPlace__list {
    background-color: white;
    padding: 20px;
    font-size: 18px;
    list-style-type: none;
}